{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    {% for movie in movies %}
    <div class="item  col-xs-6 col-lg-6">
      <div class="thumbnail">
        <img class="list-group-image" style="width: 350px; height: 500px;" src="{{ movie['poster_url'] }}" alt="">
        <div class="caption">
          <a href="{{ movie['afisha_page'] }}"><h3 class="list-group-item-heading">{{ movie['movie_title'] }}</h3></a>
          <p class="list-group-item-text">{{ movie['movie_description'] }}</p>
          <br>
          <p><b>Рейтинг на кинопоиске:</b> {{ movie['movie_rating'] }}</p>
          <p><b>Число голосов на кинопоиске:</b> {{ movie['rating_count'] }}</p>
          <!--<a class="btn btn-default" href="{{ movie['afisha_page'] }}">Страница на афише</a>-->
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}